<ion-header>
  <ion-toolbar>
    <ion-title>Modifier le Contact</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Annuler</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="contactForm">
    <ion-item>
      <ion-label position="stacked">Nom</ion-label>
      <ion-input formControlName="nom"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="contactForm.get('nom')!.invalid && (contactForm.get('nom')!.dirty || contactForm.get('nom')!.touched)">
      <p *ngIf="contactForm.get('nom')!.errors?.['required']">Le nom est requis.</p>
    </ion-text>

    <ion-item>
      <ion-label position="stacked">Prénom</ion-label>
      <ion-input formControlName="prenom"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="contactForm.get('prenom')!.invalid && (contactForm.get('prenom')!.dirty || contactForm.get('prenom')!.touched)">
      <p *ngIf="contactForm.get('prenom')!.errors?.['required']">Le prénom est requis.</p>
    </ion-text>

    <ion-item>
      <ion-label position="stacked">Téléphone</ion-label>
      <ion-input formControlName="tel"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="contactForm.get('tel')!.invalid && (contactForm.get('tel')!.dirty || contactForm.get('tel')!.touched)">
      <p *ngIf="contactForm.get('tel')!.errors?.['required']">Le téléphone est requis.</p>
      <p *ngIf="contactForm.get('tel')!.errors?.['pattern']">Le téléphone doit contenir 10 chiffres.</p>
    </ion-text>

    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="contactForm.get('email')!.invalid && (contactForm.get('email')!.dirty || contactForm.get('email')!.touched)">
      <p *ngIf="contactForm.get('email')!.errors?.['required']">L'email est requis.</p>
      <p *ngIf="contactForm.get('email')!.errors?.['email']">L'email doit être valide.</p>
    </ion-text>

    <ion-button expand="full" (click)="saveContact()">Enregistrer</ion-button>
  </form>
</ion-content>
